.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.label:not(:first-child) {
    margin-top: 10px;
}

#label-group {
    margin-top: 10px;
}

.gender-input:not(:first-child) {
    margin-left: 50px;
}

.gender-label {
    font-weight: 300;
}

.gender-label:not(:first-child) {
    margin-left: 10px;
}

.form-input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
}

.form-input--validation:valid {
    border: 1px solid green;
}

.form-input--validation:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.form-button {
    display: block;
    border: none;
    border-radius: 8px;
    background-color: lightsalmon;
    font-weight: bold;
    width: 200px;
    height: 40px;
    margin: 10px auto 0 auto;
}

.form-button:hover, .form-button:focus {
    background-color: rgb(255, 72, 0);
}